#headline {
  height: 48px;
  line-height: 28px;
  background-color: $secondary-color;
  color: #FFF;
  padding: 10px;

  a {
    height: 28px;
    line-height: 28px;
    padding: 2px 0px;
    margin-right: 10px;

    i.material-icons {
      color: #FFF;
    }
  }
  h1 {
    font-size: 18px;
    margin: 0;
    line-height: 28px;
  }
}